mixin videoBlock(video={})
    .videoBlock
        a.videoBlock__video-box(href=routes.videoDetail(video.id))  
            video(id="my-video" class="video-js vjs-big-play-centered" playsinline data-setup="{}" preload="auto")            
                source(src=video.fileUrl type = "video/mp4")
              
            //- video.videoBlock__thumnail#videoBlockThumnail(src=video.fileUrl)
        .videoBlock__info
            .videoBlock__title-box 
                a.videoBlock__title(href=routes.videoDetail(video.id))
                    span=video.title
                span.dateDif #{video.createdAt}
                span.videoBlock__duration #{video.duration}
            .videoBlock__meta-box
                .videoBlock__creator-box
                    a.videoBlock__avatar(href=routes.userDetail(video.creatorId))
                        img(src=video.avatarUrl)
                    a.videoBlock__name(href=routes.userDetail(video.creatorId))
                        span #{video.creatorName} 
                    span.seperator &nbsp;•&nbsp;
                    a.vidoeBlock__views(href=routes.videoDetail(video.id))
                        span.views #{video.views} views
                .videoBlock__meta
                    a(href=routes.videoDetail(video.id))
                        span.videoBlock__comments
                            i.far.fa-comment-dots &nbsp;
                            span.comments_num #{video.totalComments}
                .videoBlock__description
                    a(href=routes.videoDetail(video.id))
                        span #{video.description} 

                
                    
                        
            
            

                