mixin videoBlock(video={})
    .videoBlock
        a(href=routes.videoDetail(video.id))
            video.videoBlock__thumnail(src=video.fileUrl, controls=true)
            h3.videoBlock__title=video.title
            h6.vidoeBlock__views=video.views
           
            
        


